n8n/workflow_rechnungsextraktion.json
{
  "name": "Rechnungsextraktion – AI Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rechnungsextraktion",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "jsCode": "// PDF-Bytes (binary) in Base64 umwandeln\nconst binaryData = $input.first().binary?.data;\nif (!binaryData) {\n  // Fallback: Body direkt als Buffer\n  const body = $input.first().json?.body;\n  if (!body) throw new Error('Kein PDF-Inhalt empfangen');\n  return [{ json: { pdfBase64: Buffer.from(body).toString('base64') } }];\n}\nconst base64 = binaryData.data;\nreturn [{ json: { pdfBase64: base64 } }];"
      },
      "id": "node-to-base64",
      "name": "PDF zu Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key={{ $credentials.googlePalmApi.apiKey }}",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "body": {
          "contents": [
            {
              "parts": [
                {
                  "text": "Analysiere diese Rechnung und extrahiere alle relevanten Daten als JSON.\n\nExtrahiere genau diese Felder:\n- rechnungs_nummer: Rechnungsnummer (String)\n- lieferant: Name des Lieferanten (String)\n- betrag: Gesamtbetrag als Zahl ohne Währungssymbol (Number)\n- waehrung: Währungscode EUR, USD, CHF oder GBP (String)\n- datum: Rechnungsdatum im Format YYYY-MM-DD (String)\n- eingangskanal: \"Email\" wenn nicht anders angegeben (String)\n- rechnungspositionen: Array mit Positionen, jede mit: beschreibung (String), menge (Number), einheit (String, z.B. Stk.), einzelpreis (Number)\n\nAntworte NUR mit dem JSON-Objekt, ohne Erklärungstext, ohne Markdown-Code-Blöcke."
                },
                {
                  "inline_data": {
                    "mime_type": "application/pdf",
                    "data": "={{ $json.pdfBase64 }}"
                  }
                }
              ]
            }
          ]
        },
        "options": {}
      },
      "id": "node-gemini",
      "name": "Gemini – Rechnung analysieren",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Gemini-Antwort parsen\nconst response = $input.first().json;\nconst rawText = response?.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet jsonText = rawText.trim();\n// Markdown-Code-Blöcke entfernen falls vorhanden\nif (jsonText.startsWith('```')) {\n  jsonText = jsonText.replace(/^```json?\\n?/, '').replace(/\\n?```$/, '');\n}\n\nlet extracted;\ntry {\n  extracted = JSON.parse(jsonText);\n} catch (e) {\n  throw new Error(`JSON-Parsing fehlgeschlagen: ${e.message}\\nAntwort: ${rawText.substring(0, 300)}`);\n}\n\nconst result = {\n  rechnungs_nummer:       String(extracted.rechnungs_nummer || 'UNBEKANNT'),\n  lieferant:              String(extracted.lieferant || 'UNBEKANNT'),\n  betrag:                 parseFloat(extracted.betrag) || 0,\n  waehrung:               ['EUR','USD','CHF','GBP'].includes(extracted.waehrung) ? extracted.waehrung : 'EUR',\n  datum:                  extracted.datum || new Date().toISOString().split('T')[0],\n  eingangskanal:          extracted.eingangskanal || 'Email',\n  rechnungspositionen:    Array.isArray(extracted.rechnungspositionen) ? extracted.rechnungspositionen : [],\n  ki_extraktion_erfolgreich:  true,\n  ki_extraktion_zeitstempel:  new Date().toISOString(),\n};\n\nreturn [{ json: result }];"
      },
      "id": "node-parse",
      "name": "JSON parsen & validieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-ok",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1160, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "PDF zu Base64", "type": "main", "index": 0 }]]
    },
    "PDF zu Base64": {
      "main": [[{ "node": "Gemini – Rechnung analysieren", "type": "main", "index": 0 }]]
    },
    "Gemini – Rechnung analysieren": {
      "main": [[{ "node": "JSON parsen & validieren", "type": "main", "index": 0 }]]
    },
    "JSON parsen & validieren": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [{ "name": "DVG Sprint 6" }]
}
